@font-face {
  font-family: "Airbnb-Normal";
  src: url('../../assets/AirbnbCereal_W_Bk.woff') format('woff');
  /* font-weight: normal; */
}

@font-face {
  font-family: "Airbnb-Light";
  src: url('../../assets/AirbnbCereal_W_Lt.woff') format('woff');
  /* font-weight: normal; */
}


@font-face {
  font-family: "Airbnb-Normal";
  src: url('../../assets/AirbnbCereal_W_Bk.woff') format('woff');
  /* font-weight: normal; */
}

@font-face {
  font-family: "Airbnb-Light";
  src: url('../../assets/AirbnbCereal_W_Lt.woff') format('woff');
  /* font-weight: normal; */
}


.review-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  /* border: 1px solid red; */
}

.review-item {
  width: 400px;
  border-radius: 10px;
  /* border: 1px solid green; */
}

.review-item h2 {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: rgb(230, 230, 230) 1px solid;
}


.review-item input {
  /* height: 35px; */
  width: 394px;
  text-indent: 1rem;
  margin-bottom: 15px;
  border-radius: 8px;
  border-color: rgb(211, 211, 211, 0.4);
}

.review-item button {
  color: white;
  font-weight: 600;
  margin: 1rem;
  height: 38px;
  width: 400px;
  background-color: rgb(255, 44, 44);
  border-radius: 8px;
  border: none;
}

.review-item button:hover {
  cursor: pointer;
}

.describe {
  width: 294px;
  height: 200px;
}

.errors {
  list-style-type: none;
  line-height: 23px;
  color: rgb(255, 44, 44);
}