@font-face {
  font-family: "Airbnb-Normal";
  src: url('../../assets/AirbnbCereal_W_Bk.woff') format('woff');
  /* font-weight: normal; */
}

@font-face {
  font-family: "Airbnb-Light";
  src: url('../../assets/AirbnbCereal_W_Lt.woff') format('woff');
  /* font-weight: normal; */
}

.spot-container {
  display: grid;

  box-sizing: border-box;
  list-style: none;
  margin: 2rem 12rem;
  /* border: 2px solid red; */
}

.spot-image {
  width: 35vw;
  height: 25vw;
  padding: 1.5rem 0 1.5rem 0;
  border-radius: 5.5%;
  /* border: 2px solid red; */
}

.spot-details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 2px solid black; */
}

.spot-host h3 {
  padding: 0 0 1rem;
  border-bottom: rgb(230, 230, 230) 1px solid;


}

.spot-item h2 {
  margin: 0 0 0.1rem 0;
}

.spot-reviews {
  list-style: none;
}