@font-face {
  font-family: "Airbnb-Normal";
  src: url('../../assets/AirbnbCereal_W_Bk.woff') format('woff');
  /* font-weight: normal; */
}

@font-face {
  font-family: "Airbnb-Light";
  src: url('../../assets/AirbnbCereal_W_Lt.woff') format('woff');
  /* font-weight: normal; */
}

/* border box keeps divs within divs from extending outside of container */

.spots-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
  margin-top: 2rem;
  /* border: 2px solid red */
}

.spots-items {
  /* box-sizing: border-box; */
  /* justify-content: center; */
  width: 25%;
  /* margin: 0 100px; */
  padding: 0 1rem 1rem 0;
  /* background-color: yellow; */
  /* border: 2px solid black; */
}


.spots-image {
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  border-radius: 5%;
  border: 2px solid black;
}

/* ---------AIRBNB DETAILS-------*/

.spots-description {
  display: flex;
  justify-content: space-between;
  border: 2px solid greenyellow;
}

/*Adjust so when shrinking, each div within left div remains as a row for the left div */
.spots-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 25px;
  border: 2px solid RED;
}

.spots-right {
  border: 2px solid purple;
}

.spots-location {
  font-weight: 600;
}

.spots-price {
  font-weight: 600;
}