@font-face {
  font-family: "Airbnb-Normal";
  src: url('../../assets/AirbnbCereal_W_Bk.woff') format('woff');
  /* font-weight: normal; */
}

@font-face {
  font-family: "Airbnb-Light";
  src: url('../../assets/AirbnbCereal_W_Lt.woff') format('woff');
  /* font-weight: normal; */
}

h3 {
  margin: 0;
}

.listings-container {
  display: flex;
  border-bottom: rgb(230, 230, 230) 1px solid;
}

.listings-item {
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  /* border: 2px solid black; */
}

.listings-image {
  box-sizing: border-box;
  width: 20vw;
  height: 15vw;
  border-radius: 10px;
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 0.85rem;
  height: 30px;
  margin-top: 1vw;
  width: 20vw;
  background-color: rgb(255, 44, 44);
  border-radius: 8px;
}

.delete-button {
  color: white;
  font-weight: 600;
  margin: 0.5rem 0 1rem 0;
  height: 30px;
  width: 20vw;
  background-color: rgb(255, 44, 44);
  border-radius: 8px;
  border: none;
}

.delete-button:hover {
  cursor: pointer;
}