@font-face {
  font-family: "Airbnb-Normal";
  src: url('../../assets/AirbnbCereal_W_Bk.woff') format('woff');
}

@font-face {
  font-family: "Airbnb-Light";
  src: url('../../assets/AirbnbCereal_W_Lt.woff') format('woff');
}

body {
  /* border: 1px solid purple */
}

/* ------- Navigation Bar Container ------- */

.nav-bar-container {
  border-bottom: rgb(230, 230, 230) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  /* border: 2px solid black;  */
}

/* ------- Navigation Left Div ------- */

.logo {
  width: 180px;
  padding: 0 4rem;
  /* border: 2px solid black */
}

/* ------- Navigation Right Div ------- */

.right-nav {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  padding: 0 5rem;
  /* background-color: rgb(196, 226, 227); */
  /* border: 2px solid black; */
  width: 15vw;
}

.begin-hosting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 1.8vw;
  line-height: 20px;
  border-radius: 14px;
  /* border: 1px solid red */
}

.begin-hosting:hover {
  background: rgb(245, 245, 245)
}

.loggedin-hosting {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 1rem;
  color: black
}

.loggedout-hosting {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 1rem;
}

.loggedout-hosting:hover {
  cursor: pointer;
}

.profile-button {
  position: relative;
  background-color: white;
  width: 150px;
  height: 60px;
  border: 1px solid grey;
}

.menu-profile {
  background-color: white;
  padding: 5px;
  width: 40px;
  height: 20px;
}

.menu {
  width: 30px;
  padding: 10px;
}

.profile {
  padding: 10px;
}