@font-face {
  font-family: "Airbnb-Normal";
  src: url('../../assets/AirbnbCereal_W_Bk.woff') format('woff');
}

@font-face {
  font-family: "Airbnb-Light";
  src: url('../../assets/AirbnbCereal_W_Lt.woff') format('woff');
}

/* ------- Profile button ------- */

.menu-profile-button {
  position: relative;
  background-color: white;
  margin: 0 0 0 2vw;
  width: 60px;
  height: 40px;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 100px;
}

.menu-profile-button:hover {
  box-shadow: 0px 4px 4px rgb(245, 245, 245);
  cursor: pointer;
}

i+i {
  margin-left: 10px;
}


/* ------- Dropdown List ------- */

.dropdown-list {
  position: absolute;
  right: 6.5%;
  top: 12%;
  width: 185px;
  /* border-top: 1px rgba(255, 255, 255, 0.855) solid; */
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgb(0, 0, 0, 0.2);
  background-color: white;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.user-email {
  padding-bottom: 0.5rem;
}

.dropdown-list li {
  line-height: 25px;
}

.dropdown-list div:hover {
  background: #F0EDE1;
  cursor: pointer;
}

.listings {
  text-decoration: none;
  color: black;
}

.reviews {
  text-decoration: none;
  color: black;
}

.dropdown-list button {
  position: relative;
  right: 5px;
  font-family: Airbnb-Normal;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}